@import "tailwindcss";

.Navbar{
  background-color: rgb(23,23,23);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.dark{
  background-color: rgb(11,11,11)
}

.NonExistent{
  @apply h-screen bg-gray-500 flex justify-center items-center flex-col;
}