@import "tailwindcss";

.Navbar{
  background-color: rgb(23,23,23);
  display: flex;
  position: absolute;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.dark{
  background-color: rgb(11,11,11)
}

.NonExistent{
  @apply h-screen bg-gray-500 flex justify-center items-center flex-col;
}

.refCont{
  @apply flex items-center justify-center inline-block whitespace-normal break-all w-[90%];
  pointer-events: none;
}

.resultContainer{
  @apply bg-[rgb(18,18,18)] p-5 flex justify-center items-center border border-3 border-white rounded-xl shadow-lg flex-col
}

.loginPage{
  display: grid;
  place-items: center;
  height: 100vh;
}

.formLogin{
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
}